<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        h1 {
            text-align: center;
        }

        .operation {
            background-color: darkgrey;
            width: 20%;
        }    

    </style>
</head>

<body>
    <!-- Addition -->
    <div class="operation">
        <h1>Addition</h1>
        <form action="/add" method="POST">
            <div>
                <input type="number" name="number1">
                <input type="number" name="number2">
            </div>
            <input type="submit" value="Envoyer">
        </form>
    </div>
    <!-- Soustraction -->
    <div class="operation">
        <h1>Soustraction</h1>
        <form action="/substract" method="POST">
            <div>
                <input type="number" name="number1">
                <input type="number" name="number2">
            </div>
            <input type="submit" value="Envoyer">
        </form>
    </div>
    <!-- Multiplication -->
    <div class="operation">
        <h1>Multiplication</h1>
        <form action="/multiply" method="POST">
            <div>
                <input type="number" name="number1">
                <input type="number" name="number2">
            </div>
            <input type="submit" value="Envoyer">
        </form>
    </div>    
    <!-- Division -->
    <div class="operation">
        <h1>Division</h1>
        <form action="/division" method="POST">
            <div>
                <input type="number" name="number1">
                <input type="number" name="number2">
            </div>
            <input type="submit" value="Envoyer">
        </form>
    </div>
</body>

</html>