<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nodecalc</title>
    <style>

        h1 {
            text-align: center;
        }

        .operation {
            background-color: darkgrey;
            width: 20%;
        }

        .resultat {
            background-color: white;
            font-size: 50px;
            text-align: end;
        }

    </style>
</head>

<body>
    
    <!-- Addition -->
    <div class="operation">
        <h1>Calculatrice</h1>
        <div class="resultat">
            <p><%= resultat %></p>
        </div>
        <form action="/addition" method="POST">
            <div>
                <input type="number" name="number1">
                <input type="number" name="number2">
            </div>
            <input type="submit" value="+">
            <input type="submit" formaction="/soustraction" value="-">
            <input type="submit" formaction="/multiplication" value="x">
            <input type="submit" formaction="/division" value="/">
        </form>
    </div>
</body>

</html>