<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nodecalc</title>
    <style>

        h1 {
            text-align: center;
        }

        .operation {
            background-color: darkgrey;
            margin: 0 auto;
            width: 20%;
        }

        .resultat {
            background-color: white;
            font-size: 50px;
            text-align: end;
        }

    </style>
</head>

<body>
    <div class="operation">
        <div class="resultat">
            <p><%= resultatCalc01 %></p>
        </div>
        <form method="POST">
            <div>
                <input type="number" name="number1">
                <input type="number" name="number2">
            </div>
            <div>
                <!-- Addition -->
                <input type="submit" formaction="/addition" value="+">
                <!-- Soustraction -->
                <input type="submit" formaction="/soustraction" value="-">
                <!-- Multiplication -->
                <input type="submit" formaction="/multiplication" value="x">
                <!-- Division -->
                <input type="submit" formaction="/division" value="/">
                <!-- Clear -->
                <input type="submit" formaction="/clear" value="Clr">
            </div>
        </form>
    </div>
</body>

</html>